# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/.github
!/docs
!/scripts
!tsconfig.json
!astro.config.ts
!package.json
!.prettierrc
!eslint.config.js
!README.md
!.vscode

# Ignore MDX files
*.mdx

# Preserve the existing workflow formatting.
.github/workflows/*.yml
